<div markdown link="post.file" id="blog-post"></div>
<div id="blog-post-info">
  Written on {{post.posted_on | amDateFormat:"dddd, MMMM Do YYYY"}} by <strong>{{post.author}}</strong>
</div>
<ul id="blog-post-share">
  <li>
    <a facebook class="facebookShare" data-url="{{post.url}}" data-shares="shares">{{shares}}</a>
  </li>
  <li>
    <div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href="{{post.url}}" data-action="share"></div>
  </li>
  <li>  
    <a twitter data-lang="en" data-count="horizontal" data-url="{{post.url}}" data-via="{{blog.social.twitter}}" data-size="medium" data-text="{{post.title}}"></a>
  </li>
</ul>
<br class="clear">